@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  outline: none;
}
body {
  background-image: url("./assets/footballgrass.jpeg");
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1450px;
  margin: auto;
}

.hero {
  min-height: 100vh;
  background-image: url("./assets/background.jpeg");
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {

}

.hero-title {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(163, 162, 162), 0 0 25px white, 0 0 5px white;
  font-size: 8em;
}

.flags-container {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flags {
  width: 4.5em;
  margin-right: 5px;
  border-radius: 50%;
  padding: none;
  height: 4.5em;
  opacity: 50%;
  transition: all 0.3s ease;
}

.flags:hover {
  opacity: 100%;
  color: white;
  box-shadow: 0 6px 20px 0 white, 0 6px 20px 0 whitesmoke;
  transition: all 0.3s ease;
}

.search-box {
  margin-top: 10px;
  border-radius: 40px;
  padding: 1em;
  outline: none;
  opacity: 80%;
  color: white;
  background-color: rgb(13, 99, 32);
  margin-top: 5em;
  width: 20em;
  border: none;
  transition: all 0.5s ease;
}

.search-box::placeholder {
  color: white;
}

.search-box:focus {
  box-shadow: 0 6px 20px 0 white, 0 6px 20px 0 rgb(168, 165, 165);
  border: 1px solid;
  border-color: white;
  transition: all 0.5s ease;
}

.search-stadiums-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* searchstadiumlist */
.stadium-card {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  border: solid;
  border-width: 1px;
  border-color: rgb(2, 71, 2);
  border-radius: 10px;
  background-color: rgb(5, 5, 128);
  color: aliceblue;
  opacity: 80%;
  padding: 5px 5px 5px 5px;
  width: 55vw;
  align-items: center;
}
.stadium-card:hover {
  color: white;
  box-shadow: 0 6px 20px 0 white, 0 6px 20px 0 whitesmoke;
  transition: all 0.3s ease;
  border: solid;
  border-color: rgb(2, 71, 2);
  opacity: 100%;
}

.club-container {
  display: flex;
  flex-direction: column;
}
.stadium-name {
  font-size: 3em;
  color: rgb(224, 228, 224);
  text-transform: capitalize;
}

.club-logo {
  width: 4em;
  height: 4em;
  margin-right: 1em;
}

.stadium-club {
  text-align: left;
  font-style: italic;
  margin-left: 0.1em;
}

@media screen and (max-width: 900px) {
  .stadium-card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    width: 80vw;
  }
  .stadium-club {
    display: none;
  }
  .club-logo {
    width: 3em;
    height: 3em;
  }
  .hero-title {
    font-size: 6em;
  }
}

@media screen and (max-width: 681px) {
  .stadium-card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }

  .club-logo {
    width: 3em;
    height: 3em;
  }
}

@media screen and (max-width: 482px) {
  .stadium-card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
  }

  .club-logo {
    width: 3em;
    height: 3em;
  }
}

/* Stadiums List */
.stadiums-list-country {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.5em;
}

.stadiums-list-header {
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(163, 162, 162), 0 0 25px white, 0 0 5px white;
}

.country-stadium-card {
  display: flex;
  margin-top: 1em;
  border: solid;
  border-width: 1px;
  border-color: rgb(2, 71, 2);
  border-radius: 10px;
  background-color: rgb(5, 5, 128);
  color: aliceblue;
  padding: 5px 5px 5px 5px;
  width: 90vw;
  align-items: center;
}
.country-stadium-card:hover {
  color: white;
  box-shadow: 0 6px 20px 0 white, 0 6px 20px 0 whitesmoke;
  transition: all 0.3s ease;
  border: solid;
  border-color: rgb(2, 71, 2);
  opacity: 100%;
}

.country-club-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.country-stadium-name {
  font-size: 1.5em;
  color: rgb(224, 228, 224);
  text-transform: capitalize;
}

.country-club-logo {
  width: 8em;
  height: 8em;
  margin-right: 1em;
  background-color: rgb(255, 255, 255);
}

.home-button,
.submit-button {
  background-color: rgb(153, 149, 149);
  border-radius: 40px;
  padding: 10px 15px 10px 20px;
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin-bottom: 1em;
  opacity: 80%;
  transition: all 0.2s ease;
  padding-left: 1em;
  text-align: center;
}

.individual-stadium-home-button-link {
  display: flex;
  margin-bottom: 1em;
  background-color: transparent;
  font-size: 2em;
  padding-left: 1em;
  margin-left: 2em;
}

.stadium-capacity {
  /* margin-left: auto; */
  margin-right: 1em;
  font-size: 1.5em;
  margin-left: auto;
}

.home-button:hover,
.submit-button:hover {
  background-color: rgb(226, 226, 226);
  opacity: 100%;
  transition: all 0.2s ease;
}

@media screen and (min-width: 800px) {
  .stadiums-list-country {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .country-stadium-card {
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 40vh;
    font-size: 1.5em;
    margin: 1em;
    opacity: 80%;
  }

  .country-stadium-card:hover {
    opacity: 100%;
  }

  .stadium-capacity {
    font-size: 2.5em;
    color: black;
    background: white;
    margin-top: 0.5em;
    margin-right: 0em;
    border-radius: 10px;
    padding: 0.1em;
    margin-left: 0;
  }
  .country-stadium-name {
    font-size: 1.8em;
    color: rgb(224, 228, 224);
    text-transform: capitalize;
    text-align: center;
    padding: 0.2em;
    color: black;
    background: white;
    border-radius: 10px;
    margin-top: 0.5em;
  }

  .country-club-logo {
    margin-right: 1em;
    background: none;
    background: white;
    padding: 1em;
    border-radius: 50%;
  }
}

@media screen and (max-width: 800px) {
  .country-stadium-card {
    background-image: none !important;
    background-color: rgb(5, 5, 128);
  }
}

/* indiviual stadium */

.individual-stadium-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.individual-stadium-picture-container {
  background-image: url("https://www.stadiumguide.com/wp-content/uploads/villapark_front.jpg");
  background-size: cover;
  height: 55vh;
  font-size: 0.9em;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  justify-content: center;
}

.individual-stadium-club-logo {
  height: 6em;
  width: 6em;
}

.individual-stadium-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individual-stadium-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  opacity: 80%;
  transition: all 0.2s ease;
  outline: none;
  margin-bottom: 1em;
}

.individual-stadium-home-button {
  border-radius: 40px;
  margin-right: 1em;
  padding: 1em;
  opacity: 80%;
}
.individual-stadium-home-button:hover {
  background-color: rgb(255, 255, 255);
  opacity: 100%;
  transition: all 0.2s ease;
}
.button-icon {
  font-size: 2em;
}

.individual-stadium-club-name {
  padding: 0.1em;
  text-transform: capitalize;
  background-color: #fafafa;
  border: 5px solid;
  border-radius: 20px;
  margin-top: 0.5em;
}

.sign-nail-icon {
  font-size: 1rem;
  margin-bottom: 0.2em;
  padding: 0.3em;
}

.individual-stadium-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individual-stadium-description-header {
  text-align: center;
  color: white;
}

.individual-stadium-description {
  margin-top: 1em;
  color: white;
  /* background-color: whitesmoke; */
  font-size: 0.8rem;
  width: 90vw;
  text-align: center;
}

.map-container {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

@media screen and (max-width: 440px) {
  .individual-stadium-club-name {
    font-size: 1.2em;
  }

  .individual-stadium-home-button {
    font-size: 1em;
  }
}

/* COMMENTS */
.comments-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.comments-containter h1 {
  margin-top: 0.5em;
}

.comment-card,
.ratings-container {
  background-color: rgba(255, 255, 255, 0.89);
  border: solid;
  border-color: black;
  border-radius: 40px;
  margin-bottom: 1em;
  padding: 1em;
  width: 90vw;
  color: aliceblue;
  text-align: center;
  color: black;
}

.comment {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.comment-ratings {
  font-size: 0.9em;
  color: rgb(61, 60, 60);
}

.time-stamp {
  font-size: 0.7em;
  font-style: italic;
  color: rgb(61, 60, 60);
}

/* POST COMMENT */

.add-comment-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid;
  border-color: black;
  background-color: rgba(196, 194, 194, 0.89);
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.selectors {
  margin-top: 1em;
  justify-content: center;
  align-items: center;
}
.select-container {
  text-align: left;
}

.comment-box {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
}
